html {
  font-family: FreeSans, sans-serif;
  font-size: 8px;

  --background-color: hsl(220, 16%, 22%);
  --input-background-color: hsl(222, 16%, 28%);
  --font-color: hsl(219, 28%, 88%);
  --highlight-color: hsl(179, 25%, 65%);
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0;
  padding: 14rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2.25rem;
}

.search {
  max-width: 80rem;
  padding-bottom: 10rem;
}

.search,
.search__form,
.search-bar {
  width: 100%;
}

.search-bar__input,
.search-bar__submit-button,
.tab,
.tab__button,
.tab__icon {
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  --button-width: 8rem;
}

.search-bar__input,
.search-bar__submit-button {
  color: var(--font-color);
  background-color: var(--input-background-color);
  border: solid var(--font-color) 0.5rem;
  height: 8rem;
}

.search-bar__input {
  padding-left: 2.25rem;
  font-size: 2.25rem;
  border-right: none;
  outline: none;
  width: calc(100% - var(--button-width));
}

.search-bar__submit-button {
  border-left: none;
  padding: 2.25rem;
  width: var(--button-width);
  font-size: 2.75rem;
  cursor: pointer;
}

.search-bar__submit-button:hover {
  color: var(--highlight-color);
}

.search__tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  margin-bottom: -0.5rem;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -0.5rem;
}

.tab:first-of-type {
  margin-left: 0;
}

.tab:hover .tab__button {
  border: solid var(--font-color) 0.5rem;
}

.tab--active .tab__button {
  z-index: 100;
  border: solid var(--font-color) 0.5rem;
}

.tab--active::after {
  color: var(--background-color);
  background-color: var(--background-color);
  content: ".";
  padding: 0;
  margin: 0;
  font-size: 0.5rem;
  height: 0.5rem;
  width: 7rem;
  position: relative;
  margin: 0 0.5rem;
  margin-top: -0.5rem;
  z-index: 1000;
}

.tab__icon {
  max-height: 4rem;
  max-width: 4rem;
}

.tab__button {
  width: 8rem;
  height: 8rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.search:hover .search-bar__input,
.search:hover .search-bar__submit-button,
.search:hover .tab__button {
  border-color: var(--highlight-color);
}

.links {
  display: grid;
  column-gap: 8rem;
  row-gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.link-group__name {
  margin: 0;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.link-group__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-group__links > li {
  margin-bottom: 0.25rem;
}

.link-group__links > li:last-child {
  margin-bottom: 0;
}

.link {
  font-size: 2rem;
  text-decoration: none;
  color: var(--font-color);
}

.link:hover {
  color: var(--highlight-color);
}

@media screen and (max-width: 55rem) {
  .links {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 37rem) {
  .links {
    grid-template-columns: 1fr;
  }
}
